<div class="swiper-main swiper" id="swiperMain">
    <div class="swiper-main__wrapper swiper-wrapper">
        <div class="swiper-main__slide swiper-slide swiper-slide-active"  id="swiperMainSlide1" data-active-slide="1">
            <div class="swiper-main__slide-wrapper">
                <div class="swiper-main__block">
                    <div class="swiper-main__inner swiper-main__inner-main">
                        <div class="swiper-main__text">
                            <p class="f-b3 bold">Установка и доставка <span class="blue">бесплатно!</span></p>
                            <p class="f-b3"><span class="green bold">Закажите фильтр</span> для воды сейчас и наслаждайтесь <span class="blue bold">всю жизнь</span></p>
                            <div class="buttons">
                                <a href="#" class="animated-button1 m-r-0">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Заказать фильтр
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-main__benefits">
                    <p class="swiper-main__benefits-item f-r">Гарантия 1 год</p>
                    <p class="swiper-main__benefits-item f-r">Качественный сервис</p>
                    <p class="swiper-main__benefits-item f-r">Низкая цена</p>
                </div>
                <div class="video-swiper">
                    <video class="swiper-lazy video-swiper-main" loop preload="metadata" muted id="swiperMainvideo1" autoplay data-video-src="1">
                        <source src="assets/video/swiperMain/video1.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="assets/video/swiperMain/video1.webm">
                        <source src="assets/video/swiperMain/video1.mp4" type="video/mp4">
                        Тег video не поддерживается вашим браузером. <a href="assets/video/swiperMain/video1.mp4">Скачайте видео</a>.
                    </video>
                    <div class="swiper-lazy-preload"></div>
                </div>
            </div>
        </div>
        <div class="swiper-main__slide swiper-slide"  id="swiperMainSlide2" data-active-slide="2">
            <div class="swiper-main__slide-wrapper">
                <div class="swiper-main__block">
                    <div class="swiper-main__inner quality-inner swiper-main__inner-main2">
                        <div class="swiper-main__text quality-text">
                            <p class="f-b3 blue t-u m-b-3">Рассрочка <span class="green">БЕЗ банка!</span></p>
                            <p class="f-b3 m-b-3 f-w-100 t-b">У вас есть возможность приобрести фильтр
                                для воды в рассрочку!
                            </p>
                            <p class="f-b3 m-b-3 f-w-100 m-b">- Установим фильтр сразу</p>
                            <p class="f-b3 m-b-3 f-w-100 m-b">- Без поручителя</p>

                            <span class="m-b f-b3">Свяжитесь с нами и узнайте подробнее</span>

                            <div class="buttons">
                                <a href="#" class="animated-button1 m-r-0 btn-slide2">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Оформить рассрочку
                                </a>
                            </div>
                        </div>
                     
                    </div>
                    <div class="quality-list">
                        <div class="quality-item">
                            <p class="f-b3 green">Установим фильтр сразу</p>
                            <svg role="img" width="40" height="40" aria-label="instagram">
                                <use xlink:href="#timezone"></use>
                            </svg>
                        </div>
                        <div class="quality-item">                          
                            <p class="f-b3 green"> Минимальный процент и первоначальный взнос</p>
                            <svg role="img" width="70" height="40" aria-label="instagram">
                                <use xlink:href="#economy"></use>
                            </svg>
                        </div>
                        <div class="quality-item">
                            <p class="f-b3 green">Нужен только паспорт</p>
                            <svg role="img" width="40" height="40" aria-label="instagram">
                                <use xlink:href="#document"></use>
                            </svg>
                        </div>
                        <div class="quality-item">
                            <p class="f-b3 green"> Без поручителя</p>
                            <svg role="img" width="40" height="40" aria-label="instagram">
                                <use xlink:href="#friend"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="swiper-main__benefits">
                    <p class="swiper-main__benefits-item f-r">Подробнее об условиях рассрочки Вы можете узнать связавшись с нами</p>
                </div>
                <div class="video-swiper">
                    <video class="swiper-lazy video-swiper-main" src="assets/video/swiperMain/video2.mp4" loop preload="metadata" muted id="swiperMainvideo2" autoplay data-video-src="2">
                        <source src="assets/video/swiperMain/video2.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="assets/video/swiperMain/video2.webm">
                        <source src="assets/video/swiperMain/video2.mp4" type="video/mp4">
                        Тег video не поддерживается вашим браузером. <a href="assets/video/swiperMain/video2.mp4">Скачайте видео</a>.
                    </video>
                    <div class="swiper-lazy-preload"></div>
                </div>
            </div>
        </div>
        <div class="swiper-main__slide swiper-slide" id="swiperMainSlide3" data-active-slide="3">
            <div class="swiper-main__slide-wrapper">
                <div class="swiper-main__block">
                    <div class="swiper-main__inner">
                        <div class="swiper-main__text">
                            <p class="f-b3">Вы приобретаете фильтр для воды и получаете<span class="green t-u"> качественный сервис</span> и <span class="green t-u">гарантию</span></p>
                            <div class="buttons">
                                <a href="#" class="animated-button1 m-r-0">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Заказать фильтр
                                </a>
                            </div>
                        </div>
                        <div class="swiper-main__filter">
                            <picture>
                                <source type="image/webp" media="(min-width: 320px)" srcset="
                                assets/images/content/filtermainslide-3@1000x1000.webp    1x" />
                                <source type="image/webp" media="(min-width: 320px)" srcset="
                                assets/images/content/filtermainslide-3@500x500.webp    1x" />
                                <img class="filters-product" src="assets/images/content/filtermainslide-3@500x500.png" alt="water"
                                width="290" height="70" />
                            </picture>
                        </div>
                    </div>
                </div>

                <div class="swiper-main__benefits">
                    <p class="swiper-main__benefits-item f-r">Гарантия 1 год</p>
                    <p class="swiper-main__benefits-item f-r">Качественный сервис</p>
                    <p class="swiper-main__benefits-item f-r">Низкая цена</p>
                </div>
                <div class="video-swiper">
                    <video class="swiper-lazy video-swiper-main" src="assets/video/swiperMain/video3.mp4" loop preload="metadata" muted id="swiperMainvideo3" autoplay data-video-src="3">
                        <source src="assets/video/swiperMain/video3.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="assets/video/swiperMain/video3.webm">
                        <source src="assets/video/swiperMain/video3.mp4" type="video/mp4">
                        Тег video не поддерживается вашим браузером. <a href="assets/video/swiperMain/video3.mp4">Скачайте видео</a>.
                    </video>
                    <div class="swiper-lazy-preload"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-main__pagination swiper-pagination"></div>
</div>