.aboutcompany-section {
    text-align: center;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @include media("<=desktop") {
            grid-template-columns: 1fr 1fr;
        }

        @include media("<=tablet") {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        border-radius: 15px;
        margin-bottom: 1.5rem;
        width: 100%;
        display: block;
    }

    &__block-title {
        p {
            font-size: 2rem;
            font-family: $primary-font;
            color: $basicblue5;

            &:first-of-type {
                font-weight: 700;
            }

            &:last-of-type {
                font-size: 1.5rem;
            }
        }
    }

    &__title {
        color: $basicblue5;
        margin-bottom: 2rem;
    }

    &__personal {
        margin-bottom: 4rem;
        text-align: left;
    }

    &__text {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-family: $primary-font;
    }

    &__quote {
        background: rgb(12,3,95);
        background: linear-gradient(45deg, rgba(12,3,95,1) 0%, rgba(4,54,175,1) 100%);
        max-width: 400px;
        padding: 2rem;
        color: $white;
        text-align: center;
        line-height: 2;
        border-radius: 10px;
        position: relative;
        margin: 0 auto;
        margin-top: 4rem;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
            right: -10px;
            top: -20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/icons/quote.png');
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
            left: -10px;
            bottom: -20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/icons/quote.png');
        }
    }

    &__quality {
        font-family: $primary-font;
        min-height: min-content;
        justify-items: center;
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: calc(100% - 40px);
        margin: 0 auto;
        
        @include media("<=desktop") {
            grid-template-columns: 1fr 1fr;
            
        }

        @include media("<=tablet") {
            grid-template-columns: 1fr;
            max-width: calc(100% - 20px);
        }
    }

    &__quality-item {
        padding: 2rem;
        min-height: inherit;
        text-align: left;
        background: rgb(12,3,95);
        background: linear-gradient(45deg, rgba(12,3,95,1) 0%, rgba(4,54,175,1) 100%);
        max-width: 400px;
        padding: 2rem;
        color: $white;
        line-height: 1.2;
        border-radius: 10px;
        outline: 2px solid $basicblue;
        border: 2px solid $white;
        min-width: 100%;

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    &__quality-item-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.aboutcompany-image {
    margin-bottom: 2rem;
}

.qualitycompany-image {
    fill: $white;
    margin-left: 1rem;
    svg {
        width: 45px;
        height: 45px;
    }
}