.feedback {
    min-height: 425px;
    position: relative;

    &__wrapper {
        min-width: 50%;
        min-width: 45%;
        border: 1px solid $basicblue5;
        padding: 2rem;
        border-radius: 12px;
        min-height: 300px;
        position: relative;
    }

    &__inner {
        text-align: center;
    }

    &__image {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 1px solid $basicblue5;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 2rem;

        a {
            color: $basicblue5;

            &:hover {
                transition: 0.3s ease;
                opacity: 0.8;
            }
        }
    }

    &__feed-about {
        margin-bottom: 5rem;
        font-family: 'mplus_r';
        line-height: 1.2;
        font-size: 1.6rem;
    }

    &__data {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}

.swiper-feedback {
    min-height: auto;
    height: auto;

    &__wrapper {
        min-height: 365px;
        position: relative;
    }

    &__pagination.swiper-pagination {
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: space-between;
        min-width: 60px;
        max-width: min-content;
    }

    &__slide-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    &__allfeed-block {
        text-align: center;
        min-width: 100%;
        margin: 0 auto;
    }

    &__allfeed {
        font-size: 1.6rem;
    }
}