.feedback {
    min-height: 425px;
    position: relative;

    &__wrapper {
        min-width: 50%;
        min-width: 45%;
        border: 1px solid $basicblue5;
        padding: 2rem;
        border-radius: 12px;
        min-height: 300px;
        position: relative;
        background: rgb(12,3,95);
        background: linear-gradient(45deg, rgba(12,3,95,1) 0%, rgba(4,54,175,1) 100%);
    }

    &__inner {
        text-align: center;
    }

    &__image {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 5px solid $white;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 2rem;
        color: $white;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                transition: 0.3s ease;
                opacity: 0.8;
            }
        }
    }

    &__feed-about {
        margin-bottom: 5rem;
        font-family: 'mplus_r';
        line-height: 1.2;
        font-size: 1.6rem;
        color: $white;
    }

    &__data {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        color: $white;
    }
}

.swiper-feedback {
    min-height: auto;
    height: auto;
    position: relative;

    &__wrapper {
        min-height: 365px;
        position: relative;
    }

    &__pagination.swiper-pagination {
        bottom: -2rem;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: space-between;
        min-width: 60px;
        max-width: min-content;

        .swiper-pagination-bullet {
            background-color: transparent;
            border: 1px solid $basicblue5;
        }

        .swiper-pagination-bullet-active {
            background-color: $basicblue5;
        }
    }

    &__slide-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 1rem;

        @include media('<=tablet') {
            grid-template-columns: 1fr;
        }  
    }

    &__allfeed-block {
        text-align: center;
        min-width: 100%;
        margin: 0 auto;
    }

    &__allfeed {
        font-size: 1.6rem;
    }

    &__btn-next {
        right: 40px;
    }

    &__btn-prev {
        left: 40px;
    }

    &__btn-next,
    &__btn-prev {
        width: 40px;
        height: 40px;
        border: 1px solid $basicblue5;
        background-color: $white;
        background-position: center center;
        border-radius: 50%;
        opacity: 1;
        top: 125px;

        &::after {
            font-size: 2rem;
            width: 20px;
            height: 20px;
            left: 14px;
            position: absolute;
        }

        &:hover {
            opacity: 0.4;
        }
    }
}

.swiper-feedback-title {
    text-align: center;
}

.feedback-mb {
    display: block; 

    @include media('>=desktop') {
        display: none; 
    }  
}

.feedback-ds {
    display: none; 

    @include media('>=desktop') {
        display: block; 
    }  
}