.products-advice-section {
    height: 450px;

    .container {
        overflow: hidden;
    }

    &__wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        min-height: 380px;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: $basicblue5;
        }

        &::-webkit-scrollbar-thumb{
            width: 5px;
            height: 5px;
            background-color: $basicblue4;
            border-radius: 5px;
        }  
    }

    &__inner {
        max-height: 400px;
        padding: 1rem;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 1.6rem;
        color: $basicblue5;
    }
}
