.products-advice-section {
    
    height: 450px;

    .container {
        overflow: hidden;
    }

    &__wrapper {
        overflow-x: scroll;
        min-height: 400px;
    }

    &__inner {
        max-height: 400px;
        padding: 1rem;
    }
}