.swiper-stock {
    position: relative;
    height: 400px;

    &__wrapper {
        overflow: hidden;
        height: 400px;
        position: relative;
       
    }

    &__title {
        font-size: 3rem;
        color: $white;
        text-shadow: 1px 1px 2px $black;
        margin-bottom: 2rem;
        min-width: max-content;
        word-break: break-word;

        @include media('<=tablet') {
            font-size: 2rem;
        }
    }

    &__subtitle {
        color: $basicorange;
        text-shadow: 1px 1px 2px $black;
    }

    &__title-attention {
        color: $basicgreen1;
        font-size: 5rem;
        text-align: center;
        text-shadow: 1px 1px 2px $black;
        margin-bottom: 2rem;

        @include media('<=tablet') {
            font-size: 5rem;
        }
    }

    &__slide {
        text-align: center;

        &::after {
            position: absolute;
            content: '';
            display: block;
            background-color: $black;
            opacity: 0.5;
            z-index: 1;
            min-width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }
    
    }

    &__text {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        min-width: 100%;

    }

    &__text-wrapper {
     }
    
    &__image {
        object-fit: cover;
        height: 400px;
        min-width: 100%;
    }

    &__pagination {
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: transparent;
            border:3px solid $white;
            border-radius: 50%;
            margin-left: 1rem;

            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }
}

