<div class="form-call" id="formCall">
    <div class="form-call-wrap">
        <h3>Отправить заявку</h3>
        <p>Мы свяжемся с вами в ближайшее время</p>
        <div class="form-call__inner">
            <form action="" method="get">
                <label for="username">Ваше имя</label>
                <input id="username" placeholder="Имя Фамилия" required></input>
                <label for="phone">Ваш телефон</label>
                <input id="phone" placeholder="(999) 999 999" type="tel" required></input>
            </form>
            <button type="submit" id="submitForm">Оставить заявку</button>
        </div>
    </div>
    
</div>
