<div class="form-call js-smooth-scroll" id="formCall">
    <div class="form-call-wrap">
        <h3>Отправить заявку</h3>
        <p>Мы свяжемся с вами в ближайшее время</p>
        <div class="form-call__inner">
            <form action="https://aqualife.kg/assets/php/form/formTelegram.php" method="post" name="formCall" target="_blank" id="formCall1">
                <label for="username">Ваше имя</label>
                <input id="username" placeholder="Имя Фамилия" required name="username"></input>
                <label for="phone">Ваш телефон</label>
                <input id="phone" placeholder="+996 999 999" type="tel" required name="userphone"></input>
                <input type="submit" id="submitForm" name="sab" value="оставить заявку"></input>
            </form>
        </div>
    </div>
    
</div>
