.menu {
  &__wrapper {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;

    @include media("<=desktop") {
      display: grid;

      .logo {
        margin-bottom: 55px;
      }

      .btn-33 {
        display: block;
      }
    }
  }

  &__nav-item {
    position: relative;

    a,
    a > span {
      position: relative;
      color: $basicblue5;
      text-decoration: none;
      line-height: 24px;
    }
    a:before,
    a:after,
    a > span:before,
    a > span:after {
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
    }

    .hover-5 {
      display: inline-block;
      overflow: hidden;
    }
    .hover-5:before,
    .hover-5:after {
      right: 0;
      bottom: 0;
      background: $basicblue5;
    }
    .hover-5:before {
      width: 100%;
      height: 2px;
      transform: translateX(-100%);
    }
    .hover-5:after {
      width: 2px;
      height: 100%;
      transform: translateY(100%);
    }
    .hover-5 > span {
      display: flex;
      padding: 5px;
    }
    .hover-5 > span:before,
    .hover-5 > span:after {
      left: 0;
      top: 0;
      background: $basicblue5;
    }
    .hover-5 > span:before {
      width: 100%;
      height: 2px;
      transform: translateX(100%);
    }
    .hover-5 > span:after {
      width: 2px;
      height: 100%;
      transform: translateY(-100%);
    }
    .hover-5:hover:before,
    .hover-5:hover:after,
    .hover-5:hover > span:before,
    .hover-5:hover > span:after {
      transform: translate(0, 0);
    }
  }

  &__nav-link {
    font-size: 1.6rem;
    color: $basicblue5;
    padding-bottom: 0;
  }

  &__nav-item-company {
    &:hover {
        .menu__nav-company-list {
            min-height: 220px;
            opacity: 1;
            display: block;
            transition: 0.5s ease;
        }
    }
  }

  &__nav-company-list {
    position: absolute;
    min-width: calc(100% + 100px);
    background-color: $white;
    padding: 0.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.51);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.51);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.51);
    border-radius: 0px 0px 15px 15px;
    min-height: 0;
    display: none;
    opacity: 0;
    transition: 0.5s ease;
  }

  &__nav-company-list-wrapper {
    margin-top: -80px;
  }

  &__nav-company-link {
    // margin-left: 1rem;
  }
}
