<!DOCTYPE html>
<html class="page" lang="en">
@@include('../partials/head/head.html')

<body class="page__body">
  <div class="wrapper">
    @@include('../layout/header.html')
    <main class="main">
      @@include('../sections/products-section/products-section.html')
      @@include('../sections/companyPresent-section/companyPresent-section.html')
      @@include('../sections/stock-section/stock-section.html')
      @@include('../sections/benefits-section/benefits-section.html')
      @@include('../sections/feedback-section/feedback-section.html')
      @@include('../sections/aboutcompany-section/aboutcompany-section.html')
    </main>
    @@include('../layout/footer.html')
  </div>
  <div class="whatsapp">
    <a title="Whatsapp" href="whatsapp://send?phone=79270000000">
      <img src="/src/images/icons/whatsAppBtn.svg" alt="Написать в Whatsapp"/>
    </a>
    </a>
  </div>
  <div class="svg-sprite">
    @@include('../partials/sprite.html')
  </div>
  @@include('../partials/scripts/common.html')
</body>
</html>