<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Отправка формы на почту</title>

    <style>
      .container {
        max-width: 1024px;
        min-width: 320px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
      }

    </style>
  </head>

  <body>
    <div class="container">

      <h1>Спасибо!</h1>
      <h2>Ваша заявка была успешно зарегистрирована</h2>
      <p style="font-size: 24px;">Мы свяжемся с вами в течении 2 часов</p>

    </div>
  </body>
</html>
	