<footer class="footer" id="contacts">
    <div class="container">
        <div class="footer__wrapper">
            <div class="logo">
                <a class="logo__link">
                  <picture>
                    <source type="image/webp" media="(min-width: 320px)" srcset="assets/images/content/logo.webp 1x" />
                    <img class="logo__image" src="assets/images/content/logo.png" alt="necklace Necklace"
                    width="270" height="60" />
                  </picture>
                </a>
              </div>

              <div class="link-phone link-phone-ds">
                <a class="link-phone__link blue" href="tel:+996500034422">+996 (500) 03-44-22</a>
                <a class="link-phone__link green" href="tel:+996555034422">+996 (555) 03-44-22</a>
              </div>

              <div class="social">
                <div class="social__wrapper">
                  <div class="social__inner">
                    <a href="#" class="social__link">
                      <svg role="img" width="40" height="40" aria-label="instagram">
                        <use xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="link-phone link-phone-mbs">
                    <a class="link-phone__link blue" href="tel:+996500034422">+996 (500) 03-44-22</a>
                    <a class="link-phone__link green" href="tel:+996555034422">+996 (555) 03-44-22</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</footer>