<div class="wrapperProducts-tabs products container">
    <div class="tabs1 products__header">
        <span class="tab1 products__tabs-btn">Фильтры для дома и офиса</span>
        <span class="tab1 products__tabs-btn">Полупромышленные фильтры</span>
        <span class="tab1 products__tabs-btn">Катриджи для фильтров</span>        
        <span class="tab1 products__tabs-btn">Запасные детали</span>        
    </div>
    <div class="tab1_content">
        <div class="tab1_item">@@include('../blocks/products-list/products-list.html')</div>
        <div class="tab1_item">@@include('../blocks/products-list/products-list2.html')</div>
        <div class="tab1_item">@@include('../blocks/products-list/products-list3.html')</div>
        <div class="tab1_item">@@include('../blocks/products-list/products-list4.html')</div>
    </div>
</div>
